/* General Styling */
/* Reponsiveness Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F3F5F8;


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
